<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="https://cdn.usebootstrap.com/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.usebootstrap.com/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <title>New Product</title>
    {{!-- <style>
        .container form {
            margin-left: 25%;
            border: 1px solid black;
            margin-right: 25%;
        }

        h1 {
            text-align: center;
        }

        .form {
            font-size: 20px;
            margin-left: 30%;
        }

        #button {
            margin-top: 20px;
            margin-left: 47%;
            font-size: 25px;
            font-weight: bold;
        }
    </style> --}}
    <style>
        body {
            background-image: url("https://t4.ftcdn.net/jpg/03/16/36/59/360_F_316365913_WKVKZW7gzsqqhkx4PgGyu0rArj5GykHK.jpg");
            background-repeat: no-repeat;
            background-size: 120%;
            color: black;
            font-size: 16px;
        }
    </style>
</head>

<body>
    {{!-- <div class="container">
        <h1>Add New Product</h1>
        <form action="/newProduct" method="post">
            <div class="form">
                Name: <input type="text" name="txtName"> <span style="color: red;">{{error}}</span>
                <br>
                Price: <input type="text" name="txtPrice"> <span style="color: red;">{{errorPrice}}</span>
                <br>
                Description: <input type="text" name="txtDescription">
                <br>
                PictureURL: <input type="text" name="picURL" size="50px">
                <br>
            </div>
            <input type="submit" value="Insert" id="button">
        </form>
    </div> --}}
    <div class="container mt-5">
        <h1>Add New Product</h1>
        <form action="/newProduct" method="post">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="txtName">Name:</label>
                        <input type="text" id="txtName" name="txtName" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="txtPrice">Price:</label>
                        <input type="text" id="txtPrice" name="txtPrice" class="form-control" />                     
                    </div>
                </div>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="txtDescription">Description:</label>
                <input type="text" id="txtDescription" name="txtDescription" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="picURL">Picture:</label>
                <input type="text" id="picURL" name="picURL" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </form>
    </div>
</body>

</html>